@model WEB2021Apr_P01_T01.Models.Competitor

@{
    ViewData["Title"] = "Competitor Panel";
    List<CompetitionSubmission> csList = (List<CompetitionSubmission>)ViewData["CompetitorCompetitions"];
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Competition Panel - Lion City University</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
<body>
    <div class="container">
        <p>Competitor Panel</p>
        <br />
        <div class="d-flex flex-row justify-content-between w-100">
            @{
                var name = Context.Session.GetString("Name");
            }
            <div class="competitor-header-text">
                <h2>Welcome, </h2>
                <h1 class="gold"> @name</h1>
            </div>
            <div class="avatar">
                <img src="~/images/img_avatar.png" style="border-radius: 60px; width: 120px" />
            </div>
        </div>
        <br />
        <h2 class="gold">Your Participated Competitions</h2>

        @if (csList.Count > 0)
        {
            <div class="card-group">
                @foreach (var competition in csList)
                {
                    <div class="col-12 col-lg-4 card shadow-sm p-2 ml-lg-2 mr-lg-2 mb-4 ml-auto mr-auto bg-white rounded">
                        <img class="card-img-top" src="~/images/no-image.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title gold">@competition.CompetitionName</h5>
                            @{
                                if (DateTime.Now < competition.StartDate)
                                {
                                    <img src="~/images/calendar.png" style="width: 30px;"> <span class="gold">Starting on @competition.StartDate.ToString("d/M/yyyy")</span><br /><br />
                                    int duration = (competition.StartDate - DateTime.Now).Days;
                                    <img src="~/images/Timeleft.png" style="width: 30px;"> <span class="gold">@duration days left to the start of the competition</span><br /><br />
                                }
                                else if (competition.StartDate < DateTime.Now && DateTime.Now < competition.EndDate) // competition is on-going, duration left to submit file
                                {
                                    <img src="~/images/calendar.png" style="width: 30px;"> <span class="gold">Started on @competition.StartDate.ToString("d/M/yyyy")</span><br /><br />
                                    int duration = (competition.EndDate - DateTime.Now).Days;
                                    <img src="~/images/Timeleft.png" style="width: 30px;"> <span class="gold">@duration days left to submit a file</span><br /><br />
                                    <a class="btn background-blue btn-180" asp-controller="Competition" asp-action="Details" asp-route-id="@competition.CompetitionId">Upload File</a>
                                }
                                else if (competition.EndDate < DateTime.Now && competition.ResultReleasedDate > DateTime.Now) // competition ended, but results yet to released
                                {
                                    <img src="~/images/calendar.png" style="width: 30px;"> <span class="gold">Started on @competition.StartDate.ToString("d/M/yyyy")</span><br /><br />
                                    int duration = (competition.ResultReleasedDate - competition.EndDate).Days;
                                    <img src="~/images/results.png" style="width: 30px;"> <span class="gold">results release in @duration days</span><br /><br />

                                    if (competition.Appeal == null)
                                    {
                                        <a class="btn background-blue btn-180" asp-controller="Competition" asp-action="Details" asp-route-id="@competition.CompetitionId">Appeal</a>
                                    }
                                    else
                                    {
                                        <a class="btn background-blue btn-180" asp-controller="Competition" asp-action="Details" asp-route-id="@competition.CompetitionId">Appealed</a>
                                    }

                                }
                                else //competition ended, result released
                                {
                                    <img src="~/images/calendar.png" style="width: 30px;"> <span class="gold">Started on @competition.StartDate.ToString("d/M/yyyy")</span><br /><br />
                                    if (competition.Ranking != null)
                                    {
                                        string placing = "";
                                        string medal = "";
                                        if (competition.Ranking == 1)
                                        {
                                            placing = competition.Ranking + "st Place";
                                            medal = "../images/firstplace.png";
                                        }
                                        else if (competition.Ranking == 2)
                                        {
                                            placing = competition.Ranking + "nd Place";
                                            medal = "../images/secondplace.png";
                                        }
                                        else if (competition.Ranking == 2)
                                        {
                                            placing = competition.Ranking + "rd Place";
                                            medal = "../images/thirdplace.png";
                                        }
                                        else
                                        {
                                            placing = competition.Ranking + "th Place";
                                        }
                                        <img src="~/images/cup.png" style="width: 30px;"> <span class="gold">@placing</span><br /><br />
                                        <img src=@medal style="width: 30px;">
                                        <a class="btn background-blue btn-180" asp-controller="Competition" asp-action="Details" asp-route-id="@competition.CompetitionId">Ended</a>
                                    }
                                }
                                <img src="~/images/JudgeHammer.png" style="width: 30px;"> <span>@competition.numofJudge.ToString() judges</span>
                            }
                        </div>
                        <div class="text-center pb-4">
                            <a class="btn background-blue btn-180" asp-controller="Competition" asp-action="Details" asp-route-id="@competition.CompetitionId">View Competition</a>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <span style="color:red;" class="text-center">There are no ongoing competitions presently.</span>
        }
    </div>

</body>
</html>
