@model IEnumerable<WEB2021Apr_P01_T01.Models.CompetitorSubmissionViewModel>

@{
    ViewData["Title"] = "Competitor Panel";
}

<div class="container">
    <br />
    <div class="d-flex flex-row justify-content-between w-100">
        @{
            var name = Context.Session.GetString("Name");
        }
        <div class="competitor-header-text">
            <h2>Welcome, </h2>
            <h1 class="gold"> @name</h1>
        </div>
        <div class="avatar">
            <img src="~/images/img_avatar.png" style="border-radius: 60px; width: 120px" />
        </div>
    </div>
    <br />
    <h2 class="gold">Your Participated Competitions</h2>

    @if (Model.ToList().Count > 0)
    {
        <div class="card-group">
            <div class="row">
                @foreach (var competition in Model)
                {
                    <div class="card col-md-4 p-2 mt-4 shadow-sm bg-white rounded">
                        <img class="card-img-top" src="~/images/no-image.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title gold">@competition.CompetitionName</h5>
                            <img src="~/images/calendar.png" style="width: 30px;"> <label asp-for="@competition.StartDate"></label><span class="gold"> @competition.StartDate.ToString("d/M/yyyy")</span><br /><br />
                            <img src="~/images/@competition.DateImage" style="width: 30px;">
                            @if (competition.Status == "NotStarted")
                            {
                                <span class="gold">@competition.durationLeftToStart days left to the start of the competition</span><br /><br />
                            }
                            else if (competition.Status == "Ongoing")
                            {
                                <span class="gold">@competition.durationLeftToSubmit days left to submit a file</span><br /><br />
                                <a class="btn background-gold" style="color: white;" asp-controller="Competitor" asp-action="CompetitionSubmissionDetails" asp-route-id="@competition.CompetitionId">Upload File</a>
                            }
                            else if (competition.Status == "Ended" && competition.ResultRelease == true)
                            {
                                if (competition.Ranking > 3)
                                {
                                    <span class="gold"> Try harder next time!</span>
                                    <span class="badge badge-secondary">Ended</span>
                                }
                                else
                                {
                                    <label asp-for="@competition.Ranking"></label><span class="gold"> @competition.Ranking</span>
                                    <span class="badge badge-secondary">Ended</span>
                                }
                                <br /><br />
                            }
                            else
                            {
                                <label asp-for="@competition.resultsReleaseDuration"></label><span class="gold"> @competition.resultsReleaseDuration days</span><br /><br />
                            }
                            <img src="~/images/JudgeHammer.png" style="width: 30px;"> <span>@competition.numOfJudge.ToString() judges</span> <br /> <br />
                            <br />
                            @if (competition.Status == "Ended" && competition.ResultRelease == false)
                            {
                                if (competition.Appeal == null)
                                {
                                    <a class="btn background-gold btn-180" asp-controller="Competitor" asp-action="Appeal" asp-route-id="@competition.CompetitionId">Appeal</a>
                                }
                                else
                                {
                                    <a class="btn background-gold btn-180 disabled">Appealed</a>
                                }
                            }
                            <br /> <br />
                            <a class="btn background-gold btn-180" asp-controller="Competition" asp-action="CompetitionDetails" asp-route-id="@competition.CompetitionId">View Competition</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <span style="color:red;" class="text-center">There are no ongoing competitions presently.</span>
    }
</div>