@model IEnumerable<WEB2021Apr_P01_T01.Models.Judge>

@{
    ViewData["Title"] = "ViewJudges";

    List<Competition> futureCompetition = (List<Competition>)ViewData["futureComp"];

    //string sDate = futureCompetition.ElementAt(i).StartDate.ToString("dd/MM/yyyy hh:mm tt");
    //string eDate = futureCompetition.ElementAt(i).EndDate.ToString("dd/MM/yyyy");
}

@section scripts {
    <script>
        var model = @Html.Raw(Json.Serialize(Model));
        var futureComp = @Html.Raw(Json.Serialize(futureCompetition));
        var selectedJudge = [];
        var compArr = [];

        function assignToComp() {
            selectedJudge = [];
            $('#judgeCheck input:checked').each(function () {
                selectedJudge.push($(this).attr('name'));
            });
            if (selectedJudge.length == 0) {
                alert("No Judge selected");
            }
            else if (selectedJudge.length == 1) {
                alert("Please select at least 2 judges");
            }
            else {
                var aoiIdList = [];
                selectedJudge.forEach((judgeId) => {
                    model.forEach((m) => {
                        if (judgeId == m.judgeId) {
                            aoiIdList.push(m.areaInterestId);
                        }
                    });
                });
                if (aoiIdList.every((val, i, arr) => val === arr[0])) {
                    var aoiId = aoiIdList[0];
                    var validComp = [];
                    futureComp.forEach((c) => {
                        if (aoiId == c.aoiId) {
                            validComp.push(c);
                        }
                    });

                    var html = "";
                    for (var i = 0; i < validComp.length; i++) {
                        var sdate = new Date(Date.parse(validComp[i].startDate));
                        var sDateString = formatDatetime(sdate, true);
                        var edate = new Date(Date.parse(validComp[i].endDate));
                        var eDateString = formatDatetime(edate, false);

                        html += "<tr>";
                        html += "<td><div class=\"custom-control custom-checkbox text-center\" style=\"vertical-align: middle;\">";
                        html += "<input type=\"checkbox\" name=\"" + validComp[i].competitionId + "\" class=\"custom-control-input cbCheck\" id=\"customCheck2" + i + "\">";
                        html += "<label class=\"custom-control-label\" for=\"customCheck2" + i + "\"></label>";
                        html += "</div></td>";
                        html += "<td><div class=\"aoi-table-data\">";
                        html += "<p>" + validComp[i].competitionName + "</p>";
                        html += "</div></td>";
                        html += "<td><div class=\"aoi-table-data\">";
                        html += "<p>" + sDateString + " - " + eDateString + "</p>";
                        html += "</div></td>";
                    }
                    $('#compCheck').html(html);
                    $('#compCheck tr td').on('click', '.cbCheck', function () {
                        if ($(this).is(':checked')) {
                            compArr.push($(this).attr('name'));
                        }
                        else {
                            compArr.splice(compArr.indexOf($(this).attr('name')), 1);
                        }
                    });
                    $('#assignCompModal').modal('show');
                }
                else {
                    alert('Both Area of Interest of Judges and Competitions must MATCH during assignation process');
                }
            }
        }

        function formatDatetime(datetime, isStart) {
            var dtStr = '';
            dtStr += datetime.getDay() + '/' + (datetime.getMonth() + 1) + '/' + datetime.getFullYear() + ' ';
            if (!isStart) {
                return dtStr;
            }
            var hr = datetime.getHours();
            var ampm = 'am';
            if (hr > 12) {
                hr -= 12;
                ampm = 'pm';
            }
            var hours = '';
            if (hr.toString() == 0) {
                hours = '12';
            } else if (hr.toString().length == 1) {
                hours = '0' + hr;
            } else {
                hours = hr;
            }
            var minutes = datetime.getMinutes().toString().length == 1 ? '0' + datetime.getMinutes() : datetime.getMinutes();
            dtStr += hours + ':' + minutes + ' ' + ampm;
            return dtStr;
        }

        function unassignComp(judgeId, compId, compName) {
            $('#unassignModalBody').html(compName);
            $('#unassignedJudgeBtn').attr('onclick', 'unassignJudge(' + judgeId + ', ' + compId + ')');
            $('#unassignModal').modal('show');
        }

        function unassignJudge(jid, cid) {
            $("#unassignForm").attr('action', '/Admin/UnassignJudgeFromComp/?jid=' + jid + '&cid=' + cid);
            $("#unassignForm").submit();
        }

        function unassignJudgeSuccess() {
            alert('Successfully Unassigned');
        }

        function assignJudge() {
            var compStr = '';
            compArr.forEach((c) => {
                compStr += c + '-';
            });
            compStr = compStr.substring(0, compStr.length - 1);
            if (compStr.length == 0) {
                alert("Please select a competition");
            } else {
                var judgeStr = '';
                selectedJudge.forEach((judge) => {
                    judgeStr += judge + '-';
                });
                judgeStr = judgeStr.substring(0, judgeStr.length - 1);

                $("#assignForm").attr('action', '/Admin/AssignJudgeToComp/?jid=' + judgeStr + '&cid=' + compStr);
                $("#assignForm").submit();
            }
        }

        function assignJudgeSuccess() {
            alert('Successfully Assigned');
        }

        $(document).ready(function () {
            @if (TempData["JavaScriptFunction"] != null)
            {
                @Html.Raw(TempData["JavaScriptFunction"])
            }
        });
    </script>
}

<body>
    <div class="container">
        <div class="d-flex" style="align-items: center; justify-content: space-between; margin: 0 15px;">
            <div class="aoi-titles">
                <p>Manage Judges</p>
                <h2>Judges</h2>
            </div>
            <div class="aoi-button">
                <input type="submit" onclick="assignToComp()" value="Assign to Competition" style="border: none; border-radius: 10px; background: #A98F64; color: white; padding: 10px 15px;" />
            </div>
        </div>

        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Salutation:</th>
                        <th scope="col">Name:</th>
                        <th scope="col">Area of Interest:</th>
                        <th scope="col">Email Address:</th>
                        <th scope="col">Competition Assigned:</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="judgeCheck">
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        string text = "";
                        foreach (Competition c in Model.ElementAt(i).competitionAssigned)
                        {
                            text += c.CompetitionName;
                        }
                        if (Model.ElementAt(i).competitionAssigned.Count() == 0)
                        {
                            text = "-";
                        }
                        else
                        {
                            text = Model.ElementAt(i).competitionAssigned.ElementAt(0).CompetitionName;
                        }
                        <tr>
                            <td class="align-middle">
                                <div class="custom-control custom-checkbox text-center" style="vertical-align: middle;">
                                    @if (Model.ElementAt(i).competitionAssigned.Count() == 0)
                                    {
                                        <input type="checkbox" class="custom-control-input" name="@Model.ElementAt(i).JudgeId" id="@String.Format("customCheck{0}", i)">
                                        <label class="custom-control-label" for="@String.Format("customCheck{0}", i)"></label>
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="custom-control-input" id="@String.Format("customCheck{0}", i)" disabled>
                                        <label class="custom-control-label" for="@String.Format("customCheck{0}", i)"></label>
                                    }
                                </div>
                            </td>
                            <td style="vertical-align: middle;">
                                <img src="~/images/img_avatar.png" alt="Judge Photo" style="width:60px;height:60px;">
                            </td>
                            <td style="vertical-align: middle;">
                                <div class="aoi-table-data text-center">
                                    <p>@Model.ElementAt(i).Salutation</p>
                                </div>
                            </td>
                            <td style="vertical-align: middle;">
                                <div class="aoi-table-data">
                                    <p>@Model.ElementAt(i).Name</p>
                                </div>
                            </td>
                            <td style="vertical-align: middle;">
                                <div class="aoi-table-data">
                                    <p>@Model.ElementAt(i).AreaInterestName</p>
                                </div>
                            </td>
                            <td style="vertical-align: middle;">
                                <div class="aoi-table-data">
                                    <p>@Model.ElementAt(i).EmailAddr</p>
                                </div>
                            </td>
                            <td style="vertical-align: middle;">
                                <div class="aoi-table-data d-flex justify-content-center">
                                    <p>@Html.Raw(text)</p>
                                </div>
                            </td>
                            <td style="vertical-align:middle;">
                                @if (Model.ElementAt(i).competitionAssigned.Count() == 0)
                                {
                                    <div class="aoi-table-data d-flex justify-content-center">
                                        <p>@Html.Raw(text)</p>
                                    </div>
                                }
                                else
                                {
                                    <button type="button" onclick="unassignComp('@Model.ElementAt(i).JudgeId', '@Model.ElementAt(i).competitionAssigned.ElementAt(0).CompetitionId', '@Model.ElementAt(i).competitionAssigned.ElementAt(0).CompetitionName')" style="font-size:70%; border: none; border-radius: 10px; background: #F25050; color: white; padding: 10px 15px;">
                                        Unassign<br />Competition
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="modal" id="assignCompModal">
            <div class="modal-dialog" style="max-width:80%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Future Competitions</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Name of Competition:</th>
                                    <th scope="col">Date of Competition:</th>
                                </tr>
                            </thead>
                            <tbody id="compCheck">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <form id="assignForm" method="post">
                            <button type="button" onclick="assignJudge()" style="border: none; border-radius: 10px; background: #A98F64; color: white; padding: 10px 50px;">Assign</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="unassignModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Do you want to unassign judge from competition?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div style="font-weight: bold;" class="col-sm-12 d-flex justify-content-center">
                            Name of Competition:
                        </div>
                        <div class="col-sm-12 d-flex justify-content-center" id="unassignModalBody">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form id="unassignForm" method="post" class="col-sm-12 d-flex justify-content-center">
                            <button type="button" id="unassignedJudgeBtn" class="btn btn-danger">Unassign Competition</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
