@model WEB2021Apr_P01_T01.Models.CompetitionDetailsViewModel

@{
    ViewData["Title"] = "CompetitionDetails";
}

@{
    ViewData["Title"] = Model.CompetitionName + " | Competitions";

    // Variable to store the user role
    string role = Context.Session.GetString("Role");
}

<div class="container-fluid min-vh-80 competition-details padding-override">
    <div class="container-fluid min-vh-80 bg-overlay">
        <div class="container pt-3">
            <div class="col-12 mt-5 pt-5 padding-override gold">
                <h1>@Model.CompetitionName</h1>
                <p>@Model.AoiName</p>
            </div>
            <div class="row mt-5">
                <div class="col-12 col-md-8 pl-3">
                    <p>
                        <label asp-for="StartDate"></label><span class="gold"> @Html.DisplayFor(model => model.StartDate) </span><br />
                        <label asp-for="EndDate"></label><span class="gold"> @Html.DisplayFor(model => model.EndDate)</span><br />
                    </p>
                    <p>
                        <label asp-for="ResultsReleaseDate"></label><span class="gold"> @Html.DisplayFor(model => model.ResultsReleaseDate)</span>
                    </p>
                    <br />
                    <div class="text-center text-md-left">
                        <h4 class="gold">Jury</h4>
                        <div class="mt-3">
                            @foreach (Judge judge in Model.JudgeList)
                            {
                                <span class="mr-2 font-dm font-weight-bold">@judge.Salutation @judge.Name</span><large class="font-weight-bolder mr-2">•</large>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-md-right text-center mt-3 mt-md-0">
                    <h4 class="gold">Rubrics Based On:</h4>
                    <!-- Add Loop for display of competition's criteria after DAL is set up-->
                    @foreach (Criteria criteria in Model.CriteriaList)
                    {
                        <p>@criteria.CriteriaName</p>
                    }
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-md-9 pl-3 text-center text-md-left">
                    @*Jia Yong's code*@
                    @{

                        if ((bool)ViewData["IsJoined"])
                        {
                            <input type="button" class="background-gold btn font-dm disabled" value="Joined" />
                        }
                        else if (Model.EndDate <= DateTime.Now)
                        {
                            <a class="background-gold btn font-dm disabled" style="color:black;">Join Competition</a>
                        }
                        else
                        {
                            if (role == "Competitor")
                            {
                                <a asp-action="JoinCompetition" asp-controller="Competitor" asp-route-id="@Model.CompetitionId" class="background-gold btn font-dm">Join Competition</a>
                            }
                            else
                            {
                                <a class="background-gold btn font-dm disabled">Join Competition</a>
                            }
                        }
                    }

                </div>
                <div class="col-12 col-md-3 text-md-right text-center pt-3 pb-3 pt-md-0 pb-md-0">
                    <a href="https://www.facebook.com/" class="m-2" target="_blank"><img src="~/images/021-facebook.png" alt="Facebook" width="30" /></a>
                    <a href="https://www.twitter.com/" class="m-2" target="_blank"><img src="~/images/043-twitter.png" alt="Twitter" width="30" /></a>
                    <a href="https://www.instagram.com/" class="m-2" target="_blank"><img src="~/images/025-instagram.png" alt="Instagram" width="30" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
@if ((bool)ViewData["ShowResults"] == true)
{
    List<CompetitionSubmission> rankList = (List<CompetitionSubmission>)ViewData["Rankings"];

    <div class="container pt-5 pb-5">
        <div class="row pt-2 pb-2">
            <div class="col-6 col-md-6">
                <h4 class="gold">Winners</h4>
            </div>
            <div class="col-6 col-md-6 text-center text-md-right">
                <span class="gold">@rankList.Count</span> winners
            </div>
        </div>

        @if (rankList.Count > 0)
        {
            <div class="row">
                @for (int i = 0; i < rankList.Count; i++)
                {
                    <div class="card col-md-4 p-2 mt-4 shadow-sm bg-white rounded">
                        <img class="card-img-top" src="~/images/no-image.png" alt="Card image cap">
                        <h4 class="position-absolute rank"><span class="badge badge-success float-right">Rank @rankList[i].Ranking</span></h4>
                        <div class="card-body">
                            <h5 class="card-title gold">by <span class="gold">@rankList[i].CompetitorName</span></h5>
                            <p class="card-text"><span class="gold">@rankList[i].VoteCount votes</span></p>
                            @if (rankList[i].FileUploadDateTime != null && rankList[i].FileUploadDateTime != null)
                            {
                                <p class="card-text">Submitted on <span class="gold">@rankList[i].FileUploadDateTime.ToString()</span></p>
                                <p class="card-text">
                                    <a href="~/competitionfile/@rankList[i].FileUrl" target="_blank">@rankList[i].FileUrl</a>
                                </p>
                            }
                            else
                            {
                                <p class="card-text">There is no file submitted at the moment.</p>
                            }

                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="col-12 text-center p-5">
                <h5>There are currently no participants for this competition.</h5>
            </div>
        }
    </div>
}

<div class="container pt-5 pb-5">
    <div class="row pt-2 pb-2">
        <div class="col-6 col-md-6">
            <h4 class="gold">Competition Entries</h4>
        </div>
        <div class="col-6 col-md-6 text-center text-md-right">
            <span class="gold">@Model.SubmissionList.Count participants</span> has joined this competition
        </div>
    </div>

    @if (Model.SubmissionList.Count > 0)
    {
        <div class="row">
            @for (int i = 0; i < Model.SubmissionList.Count; i++)
            {
                <div class="card col-md-4 p-2 mt-4 shadow-sm bg-white rounded">
                    <img class="card-img-top" src="~/images/no-image.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title gold">by <span class="gold">@Model.SubmissionList[i].CompetitorName</span></h5>
                        <p class="card-text"><span class="gold">@Model.SubmissionList[i].VoteCount votes</span></p>
                        @if (Model.SubmissionList[i].FileUploadDateTime != null && Model.SubmissionList[i].FileUploadDateTime != null)
                        {
                            <p class="card-text">Submitted on <span class="gold">@Model.SubmissionList[i].FileUploadDateTime.ToString()</span></p>
                            <p class="card-text">
                                <a href="~/competitionfile/@Model.SubmissionList[i].FileUrl" target="_blank">@Model.SubmissionList[i].FileUrl</a>
                            </p>
                        }
                        else
                        {
                            <p class="card-text">There is no file submitted at the moment.</p>
                        }

                    </div>
                    <div class="text-center pb-4">
                        <form asp-controller="Competition" asp-action="Vote" asp-route-competitorId="@Model.SubmissionList[i].CompetitorId" asp-route-competitionId="@Model.SubmissionList[i].CompetitionId" method="post">
                            @if ((bool)ViewData["DisableVote"] == true)
                            {
                                <input type="submit" class="btn background-blue btn-180" disabled="disabled" value="Vote" />
                            }
                            else
                            {
                                <input type="submit" class="btn background-blue btn-180" value="Vote" />
                            }
                        </form>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="col-12 text-center p-5">
            <h5>There are currently no participants for this competition.</h5>
        </div>
    }
</div>
<div class="container-fluid bg-light min-vh-80">
    <div class="container pt-5">
        <h4 class="gold">Comments</h4>
        <div class="row">
            <form class="col-md-12" asp-controller="Comments" asp-action="AddComments" asp-route-id="@Model.CompetitionId" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-md-12">
                    <textarea required name="Comments" class="form-control" id="" placeholder="Add a Comment" rows="5"></textarea>
                    <span asp-validation-for="CommentDesc" class="text-danger"></span>
                    <div class="form-group col-md-12 mt-4 padding-override">
                        <input type="submit" class="btn background-blue w-100" value="Post" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        @if (@Model.CommentsList.Count > 0)
        {
            <table class="table table-striped">
                <tbody>
                    @foreach (Comments cmmts in Model.CommentsList)
                    {
                        <tr>
                            <td class="text-center"><img src="~/images/img_avatar.png" width="80" style="border-radius: 40px" /></td>
                            <td>
                                <h6 class="gold">Anonymous<br /></h6>
                                <small>Posted on @cmmts.DateTimePosted</small>
                                <p>@cmmts.CommentDesc</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="col-12 text-center p-5">
                <h5>There are currently no comments for this competition.</h5>
            </div>
        }
    </div>
</div>

