@model WEB2021Apr_P01_T01.Models.Competition

@{
    ViewData["Title"] = Model.CompetitionName + " | Competitions";
    List<Criteria> criteriaList = (List<Criteria>) ViewData["CriteriaList"];
    List<Judge> judgeList = (List<Judge>) ViewData["JudgeList"];
    List<CompetitionSubmission> csList = (List<CompetitionSubmission>) ViewData["CompetitionSubmissionList"];
}

@*
    css attribute for first div - to add later
    background-repeat: no-repeat; background-size: 50% 70%; background-position: right bottom;
*@

<div class="container-fluid" style='height: 100%; padding-left: 0px !important; padding-right: 0px !important;'>
    <div class="container pt-3">
        <div class="col-12 mt-5 pt-5">
            <h1 class="gold">@Model.CompetitionName</h1>
            <p class="gold">@Model.AoiName</p>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-md-8" style="padding-left: 30px;">
                <p>
                    <label asp-for="StartDate"></label><span class="gold"> @Model.StartDate</span><br />
                    <label asp-for="EndDate"></label><span class="gold"> @Model.EndDate</span><br />
                </p>
                <p><label asp-for="ResultsReleaseDate"></label><span class="gold"> @Model.ResultsReleaseDate</span></p>
                <br />
                <div>
                    <h4 class="gold">Jury</h4>
                    <div class="mt-3">
                        @foreach (Judge judge in judgeList)
                        {
                            <span class="mr-2" style="font-family: 'DM Serif Display', serif; font-weight: 500;">@judge.Salutation @judge.Name •</span>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-md-right text-left">
                <h4 class="gold">Rubrics Based On:</h4>
                <!-- Add Loop for display of competition's criteria after DAL is set up-->
                @foreach (Criteria criteria in criteriaList)
                {
                    <p>@criteria.CriteriaName</p>
                }
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-9" style="padding-left: 30px;">
                <input type="button" asp-action="Index" asp-controller="Home" class="background-gold btn" value="Join Competition"/>
            </div>
            <div class="col-12 col-md-3 text-md-right text-center">
                <a href="#" class="m-2" target="_blank"><img src="~/images/023-facebook.png" alt="Facebook" width="30" /></a>
                <a href="#" class="m-2" target="_blank"><img src="~/images/096-twitter.png" alt="Twitter" width="30" /></a>
                <a href="#" class="m-2" target="_blank"><img src="~/images/044-instagram.png" alt="Instagram" width="30" /></a>
            </div>
        </div>
    </div>
</div>
<div class="container" style='height: 100%; padding-left: 0px !important; padding-right: 0px !important;'>
    <div class="col-6 col-md-6">
        <h4 class="gold">Competition Entries</h4>
    </div>
    <div class="col-12 col-md-6 text-center text-md-right">
        <span class="gold">@csList.Count participants</span> has joined this competition
    </div>
    @if (csList.Count > 0)
    {
    <div class="card-group">
        @for (int i = 0; i < csList.Count; i++)
        {
            <div class="col-12 col-md-4 card shadow-sm p-2 ml-md-2 mr-md-2 mb-4 ml-auto mr-auto bg-white rounded">
                <img class="card-img-top" src="~/images/no-image.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title gold">Untitled Submission #@i</h5>
                    <p class="card-text">by <span class="gold">@csList[i].CompetitorName</span></p>
                    <p class="card-text"><span class="gold">@csList[i].VoteCount votes</span></p>
                    @if (csList[i].FileUploadDateTime != null && csList[i].FileUploadDateTime != null)
                    {
                        <p class="card-text">Submitted on <span class="gold">@csList[i].FileUploadDateTime.ToString()</span></p>
                        <p class="card-text">
                            <a href="~/competitionfile/@csList[i].FileUrl" target="_blank">@csList[i].FileUrl</a>
                        </p>
                    }
                    else
                    {
                        <p class="card-text">File is not yet submitted.</p>
                    }

                </div>
                <div class="text-center pb-4">
                    <a class="btn background-blue btn-180" asp-controller="" asp-action="">Vote</a>
                </div>
            </div>
        }
    </div>
    }
    else
    {
        <div class="col-12 text-center p-5">
            <h5>There are currently no participants for this competition.</h5>
        </div>
    }
</div>