@model WEB2021Apr_P01_T01.Models.Competition

@{
    ViewData["Title"] = Model.CompetitionName + " | Competitions";
    List<Criteria> criteriaList = (List<Criteria>) ViewData["CriteriaList"];
    List<Judge> judgeList = (List<Judge>) ViewData["JudgeList"];
}

@*
    css attribute for first div - to add later
    background-repeat: no-repeat; background-size: 50% 70%; background-position: right bottom;
*@

<div class="container-fluid min-vh-100" style='height: 100%; padding-left: 0px !important; padding-right: 0px !important;'>
    <div class="container pt-3">
        <div class="col-12 mt-5 pt-5">
            <h1 class="gold">@Model.CompetitionName</h1>
            <p class="gold">@Model.AoiName</p>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-md-8" style="padding-left: 30px;">
                <p>
                    <label asp-for="StartDate"></label><span class="gold"> @Model.StartDate</span><br />
                    <label asp-for="EndDate"></label><span class="gold"> @Model.EndDate</span><br />
                </p>
                <p><label asp-for="ResultsReleaseDate"></label><span class="gold"> @Model.ResultsReleaseDate</span></p>
                <br />
                <div>
                    <h4 class="gold">Jury</h4>
                    <div class="mt-3">
                        @foreach (Judge judge in judgeList)
                        {
                            <span class="mr-2" style="font-family: 'DM Serif Display', serif; font-weight: 500;">@judge.Salutation @judge.Name •</span>
                        }
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 text-md-right text-left">
                <h4 class="gold">Rubrics Based On:</h4>
                <!-- Add Loop for display of competition's criteria after DAL is set up-->
                @foreach (Criteria criteria in criteriaList)
                {
                    <p>@criteria.CriteriaName</p>
                }
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-9" style="padding-left: 30px;">
                <input type="button" asp-action="Index" asp-controller="Home" class="background-gold btn" value="Join Competition"/>
            </div>
            <div class="col-12 col-md-3 text-md-right text-center">
                <a href="#" class="m-2" target="_blank"><img src="~/images/023-facebook.png" alt="Facebook" width="30" /></a>
                <a href="#" class="m-2" target="_blank"><img src="~/images/096-twitter.png" alt="Twitter" width="30" /></a>
                <a href="#" class="m-2" target="_blank"><img src="~/images/044-instagram.png" alt="Instagram" width="30" /></a>
            </div>
        </div>
    </div>
</div>

@*<h1>Details</h1>

    <div>
        <h4>Competition</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CompetitionId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CompetitionId)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.AoiId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.AoiId)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.AoiName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.AoiName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CompetitionName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CompetitionName)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ResultsReleaseDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ResultsReleaseDate)
            </dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>*@
